<h1><%= @user.username %></h1>

<p><%= @user.profile_photo %></p>

<% if @user == current_user %>
  <%= @user.email %>
<% end %>

<% @user.reviews.each do |review| %>
  <h2><%= "#{@user.username}'s Reviews"%></h2><br>
  <ol>
    <li>
    <%= link_to "#{review.title}", neighborhood_review_path(review.neighborhood, review) %><%= " - Upvotes: #{review.upvotes}"  %>
    <% if review.owner?(current_user) %>
      <%= link_to 'Edit', edit_neighborhood_review_path(review.neighborhood, review) %>
      <%= link_to 'Delete', neighborhood_review_path(review.neighborhood, review), method: :delete, data: {confirm: 'Are you sure you want to delete review?'} %></p>
    <% end %>
    <p><%= review.updated_at %></p>
    <p><%= review.body %></p>
  </li>
  </ol>
<% end %>
