<div class="row information" style="margin-top: 10px;">

  <aside class="large-4 columns user-sidebar">
    <% if !@user.profile_photo.url.nil? %>
      <%= image_tag @user.profile_photo, class: "profile-image" %>
    <% else %>
      <%= image_tag 'https://s3.amazonaws.com/mytopia-production/uploads/images/default-user-large.png', class: "profile-image" %>
    <% end %>

    <% if @user == current_user %>
      <%= form_for @user, html: { class: "profile-image-form" } do |f| %>
        <p>
          <%= f.label :profile_photo %>
          <%= f.file_field :profile_photo %>
        </p>
        <%= f.submit "Update Photo", class: "button" %>
      <% end %>
      <ul class="vcard">
        <li class="email"><%= "Email:  #{@user.email}" %></li>
      </ul>
    <% end %>
  </aside>

  <section class="large-8 columns user-reviews">
    <h2><%= "#{@user.username.capitalize}'s Reviews"%></h2>

    <% @user.reviews.each do |review| %>
    <ul>
      <li>
        <h3>
          <%= link_to review.title, neighborhood_review_path(review.neighborhood, review) %>
        </h3>

        <% if review.owner?(current_user) %>
          <%= link_to 'Edit', edit_neighborhood_review_path(review.neighborhood, review) %>
          <%= link_to 'Delete', neighborhood_review_path(review.neighborhood, review), method: :delete, data: {confirm: 'Are you sure you want to delete review?'} %>
         <% end %>
        <p>
          <%= distance_of_time_in_words_to_now(review.updated_at) %> ago
        </p>
        <p>
          <%= review.body %>
       </p>
      </li>

      <li>
      <%= link_to "#{review.comments.count} Comments", neighborhood_review_path(review.neighborhood, review) %>
        <button class="button tiny display-upvotes alert">
          Upvotes: <%= review.calculate_upvotes %>
        </button>
      </li>
    </ul>
    <% end %>
  </section>

</div>
