<div class="row" style="margin-top: 10px;">

  <aside class="large-4 columns user-sidebar">
    <img src=<%= @user.profile_photo%>>
    <%= form_for @user do |f| %>
    <p>
      <%= f.label :profile_photo %>
      <%= f.file_field :profile_photo %>
    </p>

    <%= f.submit "Update Photo", class: "button" %>
    <% end %>


    <h1><%= @user.username %></h1>
    <% if @user == current_user %>
    <%= @user.email %>
    <% end %>
  </aside>

  <section class="large-8 columns user-reviews">
    <h2><%= "#{@user.username}'s Reviews"%></h2>
    <% @user.reviews.each do |review| %>
    <ul>
      <li>
        <h3><a href="#">  <%= link_to review.title, neighborhood_review_path(review.neighborhood, review) %> </a>
          <% if review.owner?(current_user) %>
          <%= link_to 'Edit', edit_neighborhood_review_path(review.neighborhood, review) %>
          <%= link_to 'Delete', neighborhood_review_path(review.neighborhood, review), method: :delete, data: {confirm: 'Are you sure you want to delete review?'} %></h3>
         <% end %>
        <p>
          <%= review.updated_at %>
        </p>
        <p>
          <%=review.body %>
       </p>
      </li>
      <li>
      <%= link_to " #{review.comments.count} Comments", neighborhood_review_path(review.neighborhood, review) %>
        <button class="button tiny vote alert"> <%= "Upvotes: #{review.upvotes}"  %> </button>
      </li>
    </ul>
    <% end %>
  </section>
</div>
