<div class="row information">
  <h1>Neighborhoods Admin</h1>
  <%= link_to 'New Neighborhood', new_neighborhood_path, class: "button alert" %>
    <%= form_tag admin_neighborhoods_path, method: :get do %>
      <div class="row collapse">
        <div class="small-10 columns">
          <%= text_field_tag :search, params[:search] %>
        </div>
        <div class="small-2 columns">
          <button id="search-button" class='button postfix'>
            <%= fa_icon("search") %>
          </button>
        </div>
      </div>
    <% end %>

  <ul>
    <% @neighborhoods.each do |n| %>
      <li> <%= link_to n.city, admin_neighborhood_path(n) %> -
        <%= link_to n.name, admin_neighborhood_path(n) %>
         <%= link_to "Edit", edit_admin_neighborhood_path(n), class: "button tiny primary" %> <%= link_to "Delete", admin_neighborhood_path(n), class: "button tiny alert", method: :delete, data: {confirm: 'Are you sure you want to delete comment?'} %> </li>
    <% end %>
  </ul>

  <%= paginate @neighborhoods %>
</div>
