
<dl class="tabs" data-tab>
  <dd class="active"><a href="#panel1">General</a></dd>
  <dd><a href="#panel2">People &amp; Culture</a></dd>
  <dd><a href="#panel3">Income</a></dd>
  <dd><a href="#panel4">Housing</a></dd>
</dl>
<div class="tabs-content">
  <div class="content active" id="panel1">
    <table >
      <caption> General Information </caption>
      <tr>
        <td width="150"> City: </td>
        <td> <%= @neighborhood.city %> </td>
      </tr>
      <tr>
        <td> State: </td>
        <td>  <%= @neighborhood.state %>  </td>
      </tr>
      <tr>
        <td> Median Income </td>
        <td> <%= number_to_currency(@data.median_income) %>  </td>
      </tr>
      <tr>
        <td> Median Age </td>
        <td>  <%= @data.median_age %> years old </td>
      </tr>
    </table>

  </div>
  <div class="content" id="panel2">
    <table>
      <tr>
        <td> With Kids: </td>
        <td> <%= @data.with_kids %> % </td>
        <td> No Kids: </td>
        <td> <%= @data.no_kids %> % </td>
      </tr>
      <tr>
        <td> People: </td>
        <td>
          <ul class="table-text">
          <% @data.desc_education.each do |info| %>
            <li> <%= info %> </li>
          <% end %>
          </ul>
        </td>
        <td>
          <ul class="table-text">
          <% @data.desc_employment.each do |info| %>
            <li> <%= info %> </li>
          <% end %>
          </ul>
        </td>
        <tr>
          <td> Single Males: </td>
          <td> <%= number_to_percentage(@data.single_males, precision: 1 ) %> </td>
        </tr>
        <tr>
          <td> Single Females: </td>
          <td> <%= number_to_percentage(@data.single_females, precision: 1 ) %>  </td>
        </tr>

      </tr>
    </table>
  </div>
  <div class="content" id="panel3">
    <p>This is the third panel of the basic tab example. This is the third panel of the basic tab example.</p>
  </div>
  <div class="content" id="panel4">
    <p>This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.</p>
  </div>
</div>
<div class="progress small alert">
  <span class="meter" style="width:<%= @neighborhood.calculate_rating %>%"></span>
  <%= @neighborhood.calculate_rating %>/100
</div>
