<div class="row information">

  <h1>Find A Neighborhood</h1>
  <%= form_tag neighborhoods_path, method: :get do %>
    <div class="row collapse">
      <div class="small-10 columns">
        <%= text_field_tag :search, params[:search] %>
      </div>
      <div class="small-2 columns">
        <!-- <%= submit_tag "&#xf043; Search", :name => nil, class: "button postfix fa-input" %> -->
        <button id="search-button" class='button postfix'>
          <%= fa_icon("search") %>
        </button>
      </div>
    </div>

  <% end %>

  <h1> Neighborhoods </h1>
  <ul>
    <% @neighborhoods.each do |n| %>
      <li> <%= link_to n.name, neighborhood_path(n), class: "btn default" %> </li>
    <% end %>
  </ul>



</div>
