<%= form_for @neighborhood do |f| %>

<p>
  <%= f.label :city %><br>
  <%= f.text_field :city %>
</p>

<p>
  <%= f.label :state %><br>
  <%= f.text_field :state %>
</p>
<p>
  <%= f.label :zipcode %><br>
  <%= f.text_field :zipcode %>
</p>

<p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</p>

  <%= f.submit %>

<% end %>


