

<h1><%= @neighborhood.name %></h1>
<%= @neighborhood.city %>
<%= @neighborhood.state %>
<%= @neighborhood.zipcode %>

<h1>Review <%=@neighborhood.city%></h1>

<% if current_user %>
  <%= form_for [@neighborhood, @review] do |f| %>
    <% if @review.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@review.errors.count, "error") %> prohibited
          this review from being saved:</h2>
        <ul>
          <% @review.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end%>

    <p>
      <%= f.label :title  %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :body  %><br>
      <%= f.text_field :body %>
    </p>

    <%= f.submit %>
  <% end %>
<% end %>

<% if !current_user %>
  If you want to leave a review, please sign in.
<% end %>

<% if @reviews %>
<h1> All Reviews For <%= @neighborhood.name %> </h1>
  <% @reviews.each do |review| %>
    <p> <%= link_to review.title, neighborhood_review_path(@neighborhood, review) %> </p>
  <% end %>
<% end %>
