<div class="row information">
  <h1><%= @neighborhood.name %></h1>
  <% if current_user %>
    <% if @neighborhood.photo_url == nil %>
      <%= form_for @neighborhood do |f| %>
        <p>
          <%= f.label :photo  %><br>
          <%= f.file_field :photo %>
        </p>

        <%= f.submit 'Submit Photo', class: "button" %>
      <% end %>
    <% end %>
  <% end %>

  <div class="row">
    <div class="large-4 columns">
      <%= image_tag @neighborhood.photo.url %>
    </div>

    <div class="large-8 columns">
      <table>
        <tr>
          <td width="150"> City: </td>
          <td> <%= @neighborhood.city %> </td>
        </tr>
        <tr>
          <td> State: </td>
          <td>  <%= @neighborhood.state %>  </td>
        </tr>
        <tr>
          <td> Zipcode: </td>
          <td> <%= @neighborhood.zipcode %> </td>
        </tr>
      </table>
    </div>
  </div>


  <div class="row">
    <div class="large-offset-1 large-10 columns write">
    <h3>Write A Review For <%=@neighborhood.name %></h3>

    <% if current_user %>
      <%= form_for [@neighborhood, @review] do |f| %>
        <% if @review.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@review.errors.count, "error") %> prohibited
              this review from being saved:</h2>
            <ul>
              <% @review.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

          <p>
            <%= f.label :title  %><br>
            <%= f.text_field :title %>
          </p>
          <p>
            <%= f.label :body  %><br>
            <%= f.text_field :body %>
          </p>
          <p>
            <%= f.label :rating  %><br>
            <%= f.select :rating, 1..10 %>
          </p>

          <%= f.submit 'Create Review', class: "button" %>
        <% end %>
      <% end %>

      <% if !current_user %>
        <%= link_to 'If you want to leave a review, please sign in.', new_user_session_path, class: "button alert center" %>
      <% end %>

    </div>
  </div>

  <% if @reviews %>
  <h1> All Reviews For <%= @neighborhood.name %> </h1>
    <% @reviews.each do |review| %>
      <p>
        Review Title: <%= link_to review.title, neighborhood_review_path(@neighborhood, review), class: "btn info" %>
        Review Author: <%= link_to review.user.username, user_path(review.user) %>

        <% if review.owner?(current_user) %>
          <%= link_to 'Edit', edit_neighborhood_review_path(@neighborhood, review) %>
          <%= link_to 'Delete', neighborhood_review_path(@neighborhood, review), method: :delete, data: {confirm: 'Are you sure you want to delete review?'} %>
        <% end %>

        <% if review.upvoted?(current_user) %>
          <%= link_to 'Downvote', neighborhood_review_downvote_path(@neighborhood, review), method: :post, class: "upvote" %>
        <% else %>

          <%= link_to 'Upvote', neighborhood_review_upvote_path(@neighborhood, review), method: :post, class: "upvote" %>
        <% end %>

        <%= review.calculate_upvotes(review) %>
      </p>


    <% end %>
  <% end %>
</div>
