

<h1><%= @neighborhood.name %></h1>
<%= @neighborhood.city %>
<%= @neighborhood.state %>
<%= @neighborhood.zipcode %>

<h1>Review <%=@neighborhood.city%></h1>

<%= form_for [@neighborhood, @review] do |f| %>
<p>
<%= f.label :title  %><br>
<%= f.text_field :title %>
</p>

<p>
<%= f.label :body  %><br>
  <%= f.text_field :body %>
</p>
<%= f.submit %>

<% end %>

<% if @reviews %>
<h1> All Reviews For <%= @neighborhood.name %> </h1>
  <% @reviews.each do |review| %>
    <p> <%= link_to review.title, neighborhood_review_path(@neighborhood, review) %> </p>
  <% end %>
<% end %>
