<div class="row information">
  <h1 style="text-align: center;"><%= @neighborhood.name %></h1>
  <div class="row">
    <div class="large-4 columns">
      <% @neighborhood.neighborhood_photos.each do |photo| %>
        <% if photo.featured == true %>
          <div class="neighborhood-photo">
            <%= image_tag photo.photo.url %>
          </div>
        <% end %>
      <% end %><br>

      <%= link_to "More photos of #{@neighborhood.name}", neighborhood_neighborhood_photo_path(@neighborhood, @neighborhood.neighborhood_photos) %>

      <% if current_user %>
        <%= form_for [@neighborhood, @neighborhood_photo] do |f| %>
          <p>
            <%= f.label :photo  %><br>
            <%= f.file_field :photo %>
          </p>

          <%= f.submit 'Submit Photo', class: "button tiny" %>
        <% end %>
      <% end %>



    </div>

    <div class="large-8 columns">
      <%= render 'data' %>
    </div>
  </div>

  <div class="row">
    <div class="large-offset-1 large-10 columns reviews">
      <% if @reviews %>
      <h2> All Reviews For <%= @neighborhood.name %> </h2>
        <% @reviews.each do |review| %>
          <div class="title">
            <h3>
              <button class="tiny">
                <%= review.calculate_upvotes(review) %> Upvotes
              </button>
              <%= link_to review.title, neighborhood_review_path(@neighborhood, review) %>
            </h3>
            <p>
              <em>Written by: <%= link_to review.user.username, user_path(review.user) %></em>
            </p>
          </div>

          <article class="review-body">
            <%= review.body %>

            <% if review.owner?(current_user) %>
              <%= link_to 'Edit', edit_neighborhood_review_path(@neighborhood, review), class: "button tiny edit" %>
              <%= link_to 'Delete', neighborhood_review_path(@neighborhood, review), method: :delete, data: {confirm: 'Are you sure you want to delete review?'}, class: "button tiny delete" %>
            <% end %>

            <% if review.upvoted?(current_user) %>
              <%= link_to 'Downvote', neighborhood_review_downvote_path(@neighborhood, review), method: :post, class: "downvote button primary tiny" %>
            <% else %>

              <%= link_to 'Upvote', neighborhood_review_upvote_path(@neighborhood, review), method: :post, class: "upvote button alert tiny" %>
            <% end %>

          </article>

        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="large-offset-1 large-10 columns write">
    <h2>Write A Review For <%=@neighborhood.name %></h2>

    <% if current_user %>
      <%= form_for [@neighborhood, @review] do |f| %>
        <% if @review.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@review.errors.count, "error") %> prohibited
              this review from being saved:</h2>
            <ul>
              <% @review.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
          <p>
            <%= f.label :title  %><br>
            <%= f.text_field :title %>
          </p>
          <p>
            <%= f.label :body  %><br>
            <%= f.text_field :body %>
          </p>
          <p>
            <%= f.label :rating  %><br>
            <%= f.select :rating, 1..10 %>
          </p>
          <%= f.submit 'Create Review', class: "button" %>
        <% end %>
      <% end %>

      <% if !current_user %>
        <%= link_to 'If you want to leave a review, please log in.', new_user_session_path, class: "button alert center" %>
      <% end %>
    </div>
  </div>
</div>
