<!DOCTYPE html>
<html>
<head>
  <title>Mytopia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash.any? %>
  <div class="alert info"><%= notice %></div>
<% end %>

<div class="container">
  <%= render 'layouts/nav' %>
  <%= yield %>
</div>

</body>
</html>
